body {
    background-color: #DCF4F9;
    font-family: sans-serif;
    color: #092D34;
}

h1{
    text-align: center;
    padding: 20px;
}

a {
    color: white;
}

td a {
    color: #092D34;
}

p a {
    color: #092D34;
}

th{
    background-color: #1c7e91;
    color: white;
}

#menu {
    background-color: #092D34;
    border-radius: 10px;
    text-align: left;
    font-size: 1.2em;
}

#sign {
    float: right;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 15px;
}

#menu nav li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 20px;
}

nav li {
    color: white;
}

nav a {
    color: white;
    padding: 10px;
}

nav a {
    text-decoration-line: none;
}

#pod {
    position: absolute;
    display: none;
    background: #092D34;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10px;
    margin-left: -20px;
}

#todo:hover #pod {
    display: block;
}

#task:hover #pod {
    display: block;
}

#categories:hover #pod {
    display: block;
}

#tags:hover #pod {
    display: block;
}

#usr:hover #pod {
    display: block;
}

#log:hover #pod {
    display: block;
    text-align: center;
}

.col-sm-10 {
    margin-right: 10px;
}

#in {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

#op {
    padding-left: 10px;
}

#form {
    font-weight: bold;
}

#art {
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

#art p {
    margin-left: 20px;
    margin-bottom: 0;
}

#artindex{
    text-align: center;
    border-radius: 10px;
    color: #092D34;
    vertical-align: top;
}

